<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hello Sinatra</title>
</head>
<body>
  <div>
    The Time is: <%= Time.now %>
    <div>
      @name can use here!
      <%= @name %>
    </div>
  </div>
</body>
</html>